
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab','Calibri','sans-serif';
}

/* header */
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

header {
    background-color: white;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 30px 2%;
}

.logo {
    width: 18%;
    cursor: pointer;
    margin-right: auto;
}
        
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block; 
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

.empty{
    height: 75px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

/* section 0 */
.background{
    background-color: #f8f7ff;
}

.block{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    max-height: 786px;
    overflow: hidden;
}

.block > h1 {
    padding-bottom: 2rem;
}

.resumeUpfront {
    max-width: 960px;
    width: 90%;
    margin: 2rem;
    box-shadow: white 2px 2px 10px;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.middleSectionCoolImage{
    width: 30rem;
    min-width: 300px;
    max-width: 70%;
}

.text{
    width: 40%;
    min-width: 300px;
}

.text p {
    padding: 1rem 0rem;
}


/* section 1*/

.stdButton{
    text-decoration: none;
    color: #f8f7ff ;
    background-color: #1d99c3;
    font-size: 14.5px;
    font-weight: 600;
    padding: 1.4rem 1.6rem;
    margin: 0.1rem 1rem;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.stdButton:hover{
    color: white;
    background-color: #1985a9;
}

/* section 2 */

.section2{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 2rem;
    padding: 1rem;
    width: 350px;
    text-align: center;
}

.card img {
    max-width: 50%;
}

/* footer */
footer{
    padding-top: 2rem;
    height: 5rem;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}
