/* #FBF7F4 */
/* #222725 */
/* #E8998D */
/* #EED2CC */

body{
    background-color: #f5f5f2;
}

p, img, div, ul ,h1,h2, h3,li, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

/* header */
header{
    padding-bottom: 20px ;
    width: 100%;
    box-shadow: grey 0px 0px 6px;
}

#logo{
    display: inline;
    width: 200px;
    margin-left: 20px;
}

#logo > img {
    position: relative;
    top: 12px;
}

#logo div{
    display: inline;
    padding-top: 7px;
    font-size: 1.2rem;
    font-weight: 400;
}

#logo img {
    display: inline;
    width: 40px;
    height: 40px;
}

#logo div span{
    color: #1d99c3;
}


.empty{
    height: 75px;
}

.sectionHolder{
    max-width: 1000px;
    margin: 0 auto;
    padding: 3px;
}

.titles{
    padding: 2px;
    padding-left:10px;
    margin-bottom: 20px;
    background-color: #222725;
    color: #f7f7f2;
    font-weight: 600;
}

.section{
    margin-bottom: 20px;
}

.container{
    margin-top: 5px;
    padding: 1rem;
    border: solid grey 1px;
}

label{
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

.container>div:first-of-type > button{
    display: none;
}

.column1, .column2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inputBlock {
    flex-grow: 1;
    margin: 3px;
    padding: 1rem;
    height: 100px;
}
.inputBlock > label{
    padding-bottom: 1rem;
}

.inputBlock > input {
    background-color: inherit;
    font-size: 1.2rem;
    width: 80%;
    height: 30px;
}

.column1 > .inputBlock{
    width: 500px;
}

.column2 > .inputBlock {
    width: 300px;
}

.btn{
    margin: 12px;
}

/* CV */
.cv * {
    background-color: #fff;
    color: #596060;
}
.cv .container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0;
    padding-top: 2rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv .blockItem{
    padding:2rem;
    padding-top: 1rem;
    text-align: center;
}

.cv .jobTitle{
    font-size: 1.2rem;
    text-align: center;
}

.cv h2 {
    background-color: #c2d5d1;
    padding: 0.2rem 0rem;
    color: #555;
    text-align: center;
}

.cv p {
    font-size: 1rem;
    text-align: center;
}

.cv .contacts{
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: center;
}

.cv .contacts>.info{
    padding: 0rem 1rem;
    display: inline;
}


.cv ul {
    padding-left: 1rem;
    text-align: left;
}

.cv li{
    list-style: none;
}

.cv li::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 16px;
    margin-right: 8px;
    background-image: url(images/resumeListIcon1.png);
    background-size: 1.05rem;
}

.cv h3{
    padding: 0.2rem 0rem;
    color: #555;
    text-align: left;
}
.cv .project{
    text-align: left;
    padding-left: 2rem;
}

@media print{
    .sectionHolder, header, .empty, .printButton{
        display:none;
    }
    .cv .container {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
    }
}