* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Calibri','sans-serif';
}


/* header */
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

header { 
    background-color: white;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 10px 2%;
}

.logo {
    width: 18%;
    cursor: pointer;
    margin-right: auto;
}
        
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block; 
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

.empty{
    height: 75px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

.background{
    width: 100%;
    background-color: #f8f7ff;
}

.block{
    max-width: 1280px;
    margin: 0 auto;
}

.ChooseTemplate{
    padding: 3rem 0rem;
    text-align: center;
    font-size:3rem;
}

.cardHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-color: #d2e0fb;
    height: 266px;
    width: 200px;   
    margin: 2rem 1rem;
    border-radius: 2%;
    transition: all 0.5s ease;
}

.card:hover{
    box-shadow: #1b3160 1px 1px 8px;
}

.imageHolder{
    padding: 1.5rem 2rem 0.5rem 2rem;
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.resumeImage{
    height: 136px;
    width: 136px;
    width: 100%;
    border-radius: 2%;
}

.text{
    padding: 1rem;
    padding-top: 0.2rem;
    color: #1b3160;
    text-align: center;
    text-transform: uppercase;
}

.text h3{
    font-size: 1.5rem;
}

.text p{
    padding-top: 0.2rem;
    font-size: 1rem;
}

/* footer */
footer{
    padding-top: 2rem;
    height: 5rem;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}